/*-------------------------------Set up fonts to be used across the site*/

@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");

/*-------------------------------Site wide*/

body {
    font-family: "Roboto", sans-serif;
}

/*-------------------------------Header*/

.jumbotron {
    margin-bottom: 0px;
}

.header-text {
    color: #545454;
    text-align: center;
}

/*-------------------------------NavMenu*/



.nav-item {
    margin-left: auto;
}

/*-------------------------------Home*/


.main-image {
    background-size: 300px;
    background-color: aqua;
    text-align: center;
    min-height: 400px;
    
}

.about-me {
    background-color: blueviolet;
    text-align: center;

}

.quote {
    background-size: 300px 150px;
    background-color: brown;
    text-align: center;
    min-height: 150px;
}