/*-------------------------------Set up fonts to be used across the site*/

@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");

/*-------------------------------Site wide*/

body {
    font-family: "Roboto", sans-serif;
}

.justify-content-center {
    margin: 0 15px 0 15px;
}
/*-------------------------------Header*/

.jumbotron {
    margin-bottom: 0px;
}

.header-text {
    color: #545454;
    text-align: center;
}

/*-------------------------------NavMenu*/



.nav-item {
    margin-left: auto;
}

/*-------------------------------Home*/


.main-image {
    background: url(../images/DavidHeadShot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    width: 300px;
    height: 400px;
}

.quote {
    background-size: 300px 150px;
    background-color: brown;
    text-align: center;
    min-height: 150px;
}


.feature-divider {
    margin: 5rem 0;
}


.project-tiles{
    margin-top: 30px;
}

.project-headers{
  
}

.project-images {

}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
/* Thin out the marketing headings */
.feature-heading {
    font-weight: 300;
    line-height: 1;
    font-size: 50px;
    margin-top: 5rem;
    color: purple;
    letter-spacing: -.05rem;
  }
  /* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 40em) {  
    .feature-heading {
        /* font-size: 50px;
        margin-top: 5rem; */
        color: red;
    }
}
@media (min-width: 62em) {
    .feature-heading {
        /* margin-top: 7rem; */
        color: blue;
    }
}
